.stats {
  height: 530px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.upper {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.upper button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 9px;
  margin-bottom: 5px;
  font-size: 12px;
}

.upper p {
  font-size: 12px;
}

/* treat the bottom of the containter as top, in order to always see 
new solve times */

.timesBox {
  background-color: rgb(243, 242, 242);
  width: 400px;
  height: 230px;
  border-radius: 12px;
  overflow-y: scroll;
}

.timesBox::-webkit-scrollbar {
  display: none;
}

.timesBox p {
  width: 75px;
  height: 35px;
  background-color: #D4D4D4;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;

  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}
.statsParagraph {
  margin-bottom: 6px;
  font-size: 14px;
}

.statsBox {
  background-color: rgb(255, 0, 0);
  width: 400px;
  min-height: 150px;
  border-radius: 12px;
}

.contentTable {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 12px;
  overflow: hidden;
}

.contentTable thead tr {
  background-color: #D4D4D4;
  text-align: left;
  font-weight: bold;
}

.contentTable th,
.contentTable td {
  padding: 10px 15px;
}

.contentTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
  border-bottom: 2px solid #D4D4D4;
}
